-# ----------------------------
-# header
-# ----------------------------
= render 'layouts/header'

%img.main-img{ :src => "assets/sand.jpg" }

%h2.top-title Login
= form_with scope: :session, local: true do |f|
  .wrapper.col-12{ style: 'width: 550px;' }
    .form-group
      = f.label :email, 'E-mail', class: 'contact-text'
      = f.text_field :email, class: 'text-box', id: 'session_email'
    .form-group
      = f.label :password, 'Password', class: 'contact-text'
      = f.password_field :password, class: 'text-box', id: 'session_password'
    
    .col-12.login-btn
      = f.submit 'Login', class: 'btn btn-dark submit-btn'


-# ----------------------------
-# footer
-# ----------------------------
= render 'layouts/footer'
