-# ----------------------------
-# header
-# ----------------------------
= render 'layouts/header'

%h2.top-title Edit the Article
= form_for @post do |f|
  .wrapper.col-10
    .form-group
      = f.label :name, 'Name', class: 'contact-text'
      = f.text_field :name, class: 'text-box'
      %small#poster-tip.form-text.text-muted
        Write your name.
    .form-group
      = f.label :title, 'Title', class: 'contact-text'
      = f.text_area :title, class: 'text-box'
      %small#poster-tip.form-text.text-muted
        Write the title.
    .form-group
      = f.label :article, 'Content', class: 'contact-text'
      = f.text_area :article, class: 'text-box', rows:10
      %small.form-text.text-muted{:id => "content-tip\""}
        Please enter the post content.
    .form-group
      %p Label
      = f.select :label, [['English', 'English'], ['Programming', 'Programming']]
      %small#poster-tip.form-text.text-muted
        Select the label.
    .form-group
      %p Image
      = f.file_field :image
      %small#poster-tip.form-text.text-muted
        Do you want to use thumbnail images?
  .col-12.login-btn
    = f.submit 'Edit', class: 'btn btn-dark'

-# ----------------------------
-# footer
-# ----------------------------
= render 'layouts/footer'