-# ----------------------------
-# header
-# ----------------------------
= render 'layouts/header'

%h2 記事新規作成
%div
= form_for @post do |f|
  .form-group
    = f.label :name, 'ユーザー名'
    = f.text_field :name, class: 'form-control'
    %small#poster-tip.form-text.text-muted
      名前を入力してください。
  .form-group
    = f.label :title, 'タイトル'
    = f.text_area :title, class: 'form-control'
  .form-group
    = f.label :article, '内容'
    = f.text_area :article, class: 'form-control', rows:10
    %small.form-text.text-muted{:id => "content-tip\""}
      投稿内容を入力してください。
  .form-group
    %p ラベル
    = f.select :label, [['English', 'English'], ['Programming', 'Programming']]
  .form-group
    %p 画像
    = f.file_field :image

  = f.submit '送信', class: 'btn btn-info btn-block'

-# ----------------------------
-# footer
-# ----------------------------
= render 'layouts/footer'