-# ----------------------------
-# header
-# ----------------------------
= render 'layouts/header'

-# %div
-#   %a{ :href => '/posts' }

-# %div
-#   %p
-#     = simple_format(@post.article)
-# %div
-#   %p= @post.title
-#   %p= @post.name
-#   %p= @post.impressionist_count
-# %div
-#   -# nil許容にする
-#   - if @post.image.present?
-#     %p= image_tag @post.image.url
-#   - else
-#     = ""


.wrapper.col-10
  %div
    -# nil許容にする
    - if @post.image.present?
      %p.article-img
        = image_tag @post.image.url, class: 'img-responsive'
    - else
      = ""
    .main-article-title.col-12
      %h2= @post.title
    .main-article
      %div
        %p= simple_format(@post.article)
    .footer-article
      %p= @post.name
      .icon-area
        %i.fab.fa-twitter.sns-icon
        %i.fab.fa-instagram.sns-icon
      %p= @post.created_at.strftime('%Y/%m/%d')
-# ----------------------------
-# footer
-# ----------------------------
= render 'layouts/footer'