-# ----------------------------
-# header
-# ----------------------------
= render 'layouts/header'

= form_for @inquiry, :url => inquiry_thanks_path do |f|
  .contact-title.col-12
    %h2.top-title Confirm

  .wrapper.col-12{ style: 'width: 550px;' }
    %table.contact-form.col-12
      %tr
        %th.contact-text Name
        %td
          = f.hidden_field :name, { class: 'text-box' }
          = @inquiry.name
      %tr
        %th.contact-text E-mail
        %td
          = f.hidden_field :email, { class: 'text-box' }
          = @inquiry.email
      %tr
        %th.contact-text Message
        %td
          = f.hidden_field :message, { class: 'textlines' }
          = simple_format(@inquiry.message)

  = f.submit 'Send', class: 'btn btn-dark submit-btn'

-# ----------------------------
-# footer
-# ----------------------------
= render 'layouts/footer'