-# ----------------------------
-# header
-# ----------------------------
= render 'layouts/header'

= form_for @inquiry, :url => inquiry_thanks_path do |f|
  .contact-title.col-12
    %h2.top-title Confirm

  .wrapper.col-12
    %table.contact-form
      %tr
        %th 名前
        %td
          = f.hidden_field :name, :size => '40*100'
          = @inquiry.name
      %tr
        %th メールアドレス
        %td
          = f.hidden_field :email, :size => '40*100'
          = @inquiry.email
      %tr
        %th お問い合わせ内容
        %td
          = f.hidden_field :message, :size => '39*110'
          = simple_format(@inquiry.message)

  = f.submit '送信', class: 'btn btn-primary submit-btn col-4'

-# ----------------------------
-# footer
-# ----------------------------
= render 'layouts/footer'