-# ----------------------------
-# header
-# ----------------------------
= render 'layouts/header'

= form_for @inquiry, :url => inquiry_confirm_path do |f|
  .contact-title.col-12
    %h1 Contact

  .wrapper.col-12{ style: 'width: 600px;' }
    - if @inquiry.errors.any?
      %p 入力内容に誤りがあります。
      %ul
        = @inquiry.errors.each do |attr, msg|
          %li
            = msg

    %table.contact-form.col-12
      %tr
        %th 名前
        %td= f.text_field :name, :size => '40*100'
      %tr
        %th メールアドレス
        %td= f.text_field :email, :size => '40*100'
      %tr
        %th お問い合わせ内容
        %td= f.text_area :message, :size => '39*110'

  = f.submit '確認', class: 'btn btn-primary submit-btn col-4'

-# ----------------------------
-# footer
-# ----------------------------
= render 'layouts/footer'