-# ----------------------------
-# header
-# ----------------------------
= render 'layouts/header'

%img.main-img{ :src => "assets/water.jpg" }

= form_for @inquiry, :url => inquiry_confirm_path do |f|
  .contact-title.col-12
    %h2.top-title Contact

  .wrapper.col-12{ style: 'width: 550px;' }
    - if @inquiry.errors.any?
      %p 入力内容に誤りがあります。
      %ul
        = @inquiry.errors.each do |attr, msg|
          %li
            = msg

    %table.contact-form.col-12
      %tr.col-12
        %th.contact-text Name
        %td= f.text_field :name, { class: 'text-box' }
      %tr.col-12
        %th.contact-text E-mail
        %td= f.email_field :email, { class: 'text-box' }
      %tr.col-12
        %th.contact-text Message
        %td= f.text_area :message, { class: 'textlines' }

  = f.submit 'Send', class: 'btn btn-dark submit-btn'

-# ----------------------------
-# footer
-# ----------------------------
= render 'layouts/footer'