-# ----------------------------
-# header
-# ----------------------------
= render 'layouts/header'
-# .container
-#   .row
-#     = form_with url: users_path, local: true do |f|
-#       .wrapper.col-12{ style: 'width: 600px;' }
-#         - if @user.errors.any?
-#           %p 入力内容に誤りがあります。
-#           %ul
-#             = @user.errors.each do |attr, msg|
-#               %li
-#                 = msg

-#         %table.table.table-striped.table-bordered
-#           %thead
-#             %tr
-#               %th ユーザー名
-#               %th メール
-#               %th パスワード
-#               %th 
-#           %tbody
-#             %tr
-#               %th= f.text_field :name, id: :user_name, class: 'form_txt', placeholder: 'ユーザ名'
-#               %td= f.text_field :email, id: :user_email, class: 'form_txt', placeholder: 'メールアドレス'
-#               %td= f.password_field  :password, id: :user_password, class: 'form_txt', placeholder: 'パスワード'
-#               %td= f.password_field :password_confirmation, id: :user_password_confirmation, class: 'form_txt', placeholder: 'パスワード（確認用）'

-#       = f.submit '登録する', class: 'btn btn-info btn-block'


    
-# h2 New
-# %div
-# = form_for @user do |f|
-#   .form-group
-#     = f.label :name, 'Name'
-#     = f.text_field :name, class: 'form-control'
-#     %small#poster-tip.form-text.text-muted
-#       名前を入力してください。
-#   .form-group
-#     = f.label :email, 'メールアドレス'
-#     = f.text_field :email, class: 'form-control'
-#   .form-group
-#     -# %td= f.password_field  :password, id: :user_password, class: 'form_txt', placeholder: 'パスワード'
-#     -# %td= f.password_field :password_confirmation, id: :user_password_confirmation, class: 'form_txt', placeholder: 'パスワード（確認用）'


-#   = f.submit 'submit', class: 'btn btn-info btn-block'

= form_with model: [:admin, @user], local: true do |f|
  %h2 管理者新規登録
  %div
    .form-group
      = f.label :name, 'ユーザー名'
      = f.text_field :name, class: 'form-control'
      %small#poster-tip.form-text.text-muted
        名前を入力してください。
    .form-group
      = f.label :email, 'メールアドレス'
      = f.text_field :email, class: 'form-control'
    .form-group
      %td= f.password_field  :password, id: :user_password, class: 'form_txt', placeholder: 'パスワード'
      %td= f.password_field :password_confirmation, id: :user_password_confirmation, class: 'form_txt', placeholder: 'パスワード（確認用）'

    = f.submit '作成', class: 'btn btn-info btn-block submit-btn'


-# ----------------------------
-# footer
-# ----------------------------
= render 'layouts/footer'