%nav.navbar.navbar-expand-lg.navbar-light.sticky-top.header
  %a.navbar-brand HikaBlog
  %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    %ul.navbar-nav
      - if current_user
        %li.nav-item
          %a
          = link_to 'Home', posts_path, class: 'nav-link'
        -# %li.nav-item
        -#   %a
        -#   = link_to 'About us', introduction_path, class: 'nav-link'
        %li.nav-item
          %a
            = link_to 'Contact', inquiry_path, class: 'nav-link'
        %li.nav-item
          %button.btn.btn-warning{type: 'button', style: 'margin: 5px;' }
            = link_to '管理者一覧', admin_users_path
        %li.nav-item
          %button.btn.btn-warning{type: 'button', style: 'margin: 5px;' }
            = link_to '新規作成', new_post_path
        %li.nav-item
          %button.btn.btn-warning{type: 'button', style: 'margin: 5px;' }
            = link_to '管理者新規登録', new_admin_user_path
      - else
        %li.nav-item
          %a
          = link_to 'Home', posts_path, class: 'nav-link'
        %li.nav-item
          %a
          = link_to 'About us', introduction_index_path, class: 'nav-link'
        %li.nav-item
          %a
            = link_to 'Contact', inquiry_path, class: 'nav-link'