%nav.navbar.navbar-expand-lg.navbar-light.sticky-top.header
  %a.navbar-brand.header-title HikaBlog
  %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    %ul.navbar-nav
      - if current_user
        %li.nav-item
          %a
            = link_to 'Home', posts_path, class: 'nav-link'
        %li.nav-item
          %a
            = link_to 'English', english_path, class: 'nav-link'
        %li.nav-item
          %a
            = link_to 'Programming', programming_path	, class: 'nav-link'
        %li.nav-item
          %a
            = link_to 'Contact', inquiry_path, class: 'nav-link', id: 'contact-btn'
        %li.nav-item
          %button.btn.btn-dark{type: 'button', style: 'margin: 5px;' }
            = link_to 'New Article', new_post_path, class: 'log-in-btn'
        %li.nav-item
          %button.btn.btn-dark{type: 'button', style: 'margin: 5px;' }
            = link_to 'List of Admin', admin_users_path, class: 'log-in-btn'
        %li.nav-item
          %button.btn.btn-dark{type: 'button', style: 'margin: 5px;' }
            = link_to 'New admin', new_admin_user_path, class: 'log-in-btn'
        %li.nav-item{ style: 'list-style: none;' }
          %button.btn.btn-dark{type: 'button', style: 'margin: 5px;' }
            = link_to 'Logout', logout_path, method: :delete, class: 'log-in-btn'
      - else
        %li.nav-item
          %a
          = link_to 'Home', posts_path, class: 'nav-link'
        %li.nav-item
          %a
            = link_to 'English', english_path, class: 'nav-link'
        %li.nav-item
          %a
            = link_to 'Programming', programming_path	, class: 'nav-link'
        %li.nav-item
          %a
            = link_to 'Contact', inquiry_path, class: 'nav-link', id: 'contact-btn'

:javascript
  // Open in another tab.
  // $('#contact-btn').click(function(){
    // $url = $(this).attr('href');
    // window.open($url,'_blank');
  // });